<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">Magic Cocktail Maker</h1>
  <p class="lead">Mix stuff and make it happend!</p>
  <hr class="my-4">
  <p>Ready for action! </p>
  <p class="lead">
  <button class="btn btn-primary">
    <%= link_to "Add Mixture", new_cocktail_path %>
  </button>
  </p>
  <hr>
  <h2>Mixtures DataBase</h2>
   <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, new_cocktail_dose_path(cocktail)  %>
    <%= link_to "(-)", cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'deleting...' } %>
    <br>
  <% end %>
</div>
  </div>
