<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">Magic Cocktail Maker</h1>
  <p class="lead">Mix stuff and make it happend!</p>
  <hr class="my-4">
  <p>If you cross Moderation tell him he own us a drink..</p>
  <p class="lead">
  <button class="btn btn-primary">
    <%= link_to "Add", new_cocktail_path %>
  </button>
  </p>
  <hr>
   <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail)  %>
    <button class="btn btn-secondary">
      <%= link_to "delete", cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'deleting...' } %>
    </button>
  <% end %>
</div>
  </div>
