<div class="container">
  <div class="main-box">
    <h1 class="display-4">Cocktail Maker</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Mix stuff and make it happend! </p>
  </div>
  <div class="mixtures">
  <h2>Mixtures DataBase</h2>
   <% @cocktails.each do |cocktail| %>
   <div class="main-box">
    <%= link_to cocktail.name, new_cocktail_dose_path(cocktail)  %>
    <%= link_to "(-)", cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?', disable_with: 'deleting...' } %>
   </div>
  <% end %>
</div>
  </div>
