<div class="container" style="margin: 8px;">
  <%= simple_form_for @cocktail, url: cocktails_path, method: :post do |f| %>
    <h2>Create Cocktail | <%= link_to "Back", cocktails_path%></h2>
    <%= f.input :name, label: "Name it!" %>

    <button type="button" class="btn btn-outline-primary" style="margin: 8px;">
      <%= f.button :submit, value: 'Add', "data-disable-with" => "Creating.." %>
    </button>
  <% end %>
</div>
