<div class="container">
  <div class="main-box" id="new-cocktail">
    <%= simple_form_for @cocktail, url: cocktails_path, class: "form-add", method: :post do |f| %>
      <h1 class="display-4">Create Mixture
      <p class="lead">Mix stuff and make it happend!</p>
      <hr class="my-4">
      <p><%= f.input :name, label: "Name it!" %></p>
      <p class="lead">
        <%= f.button :submit, value: 'Add', "data-disable-with" => "Creating..", class: "btn-add", id: "add-cocktail" %>
    <% end %>
      </p>
      <hr>
  </div>
</div>

