.main-box {
  background: #535568;
  box-shadow: 5px 2px 2px #535568;
  border-radius: 8px;
  padding: 80px;
  color: white;
  margin-bottom: 64px;
  margin-top: 80px;


  h2 {
    color: #EC4E20;
  }

  #thumb {
  text-align: right;
  }

  #cocktail-name {
    color: #D23333;
  }

}

  #new-cocktail {
    margin-top: 80px;
    margin-bottom: 300px;
  }

  #add-ingredient {
    margin-top: 80px;
    margin-bottom: 64px;
  }


