.my-navbar {
  background: #535568;
  padding: 8px;
  display: flex;
  justify-content: space-between;

  .btn-add:hover {
    box-shadow: 4px 2px 2px #FF3864;
    background: #E8335B;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
